@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
  scrollbar-color: #2c4d7c transparent;
  scroll-behavior: smooth;
}

body {
  @apply bg-[url('/images/bg-body.svg')] w-full h-screen flex flex-col items-center bg-primary-darkest px-6 text-primary sm:px-0;
}

::selection {
  background-color: #535c68;
  color: white;
}

html::-webkit-scrollbar {
  @apply w-3;
}

html::-webkit-scrollbar-thumb {
  @apply rounded-full border-[3px] border-solid border-transparent bg-primary bg-clip-content;
}

html::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.vertical-line::after {
  @apply mx-auto mt-1 h-24 w-[1px] bg-primary content-[""];
}

svg {
  @apply fill-primary;
}
